.reservation-container .ant-card-body {
  display: flex;
  padding: 10px;
}
.reservation-container .ant-card {
  margin: auto;
}
.resource-time-info {
  display: flex;
}
.resourceName,
.resourceType,
.resource-date,
.resource-time,
.reservation-header {
  padding: 10px;
}
.reservation-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.reservation-container {
  padding: 10px;
}
.reservation-root-container {
  display: flex;
  flex-direction: row;
}
.reservation-filters {
  width: 30%;
  padding-top: 22px;
}
.reservations-list {
  width: 70%;
}
.reservation-actions .anticon-calendar {
}
.ant-card-body .anticon-sync {
  position: absolute;
  top: 10px;
  right: 7.5px;
}
.icons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
}
.parent-reservation {
  width: 80%;
  margin: auto;
}
.parent-reservation .ant-card {
  margin-top: 2%;
}
.parent-reservation .anticon-sync {
  right: -5.5px;
}
