.calendar-container {
  display: flex;
  flex-wrap: wrap;
}

.space-select-container {
  padding-bottom: 5%;
  padding-top: 5%;
}

.space-select-container .ant-select {
  width: 100% !important;
}
.monthly-sideview-calendar {
  width: 300px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
}
