.reservation-root-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.reservation-filters {
  padding-top: 22px;
  flex-basis: 33.33%;
}
.reservations-list {
  flex-basis: 66.66%;
}
@media only screen and (max-width: 1350px) {
  .reservation-filters,
  .reservations-list {
    flex-basis: 100%;
  }
}
